@use '../abstracts/variables' as *;  // Global variables

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--banner-background-color);
    width: 100%;
    height: 48rem;
    position: relative;
    overflow: hidden;

    &__image-container, 
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    &__content {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 100%;
        max-width: var(--container-inner-width);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__title {
        font-weight: var(--font-weight-bold);
    }

    &__title, 
    &__subtitle, 
    &__description {
        margin: 0;
        color: var(--color-neutral-white);
    }

    @media (max-width: 26.875rem) {
        &__content {
            top: 50%;
            gap: 1.5rem;
            padding: 6rem 1.5rem 1.5rem 1.5rem;
        }

        &__title {
            font-size: 2rem;
            line-height: 2.4rem;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        &__subtitle {
            font-size: var(--line-height-m);
            line-height: 1.8rem;
            text-align: center;
            font-weight: var(--font-weight-regular);
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    }
}