/* Footer Base Styles */
footer.footer {
    background-color: var(--color-primary-amethyst-400);
    color: var(--color-neutral-white);
    padding: 4rem 1.5rem 2rem 1.5rem; /* 64px 24px 32px 24px */
}

.footer__content {
    max-width: var(--container-inner-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.125rem; /* 18px */
}

.footer__logo svg {
    height: auto;
    fill: var(--color-primary-amethyst-400);
}

/* Top Section Styles */
.footer__top {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.footer__text {
    flex: 1 1 50%;
    font-family: var(--font-family);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--color-neutral-gray-50);
}

.footer__text p {
    text-align: left;
    margin: 0;
}

.footer__links {
    display: flex;
    flex: 1 1 50%;
    gap: 2.8125rem; /* 45px */
}

.footer__link {
    display: flex;
    align-items: center;
    gap: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.footer__link span {
    color: var(--color-neutral-white);
}

/* Columns Section */
.footer__columns {
    display: flex;
    gap: 0.5rem; /* 8px */
    flex-direction: column;
}

.footer__list-item {
    margin: 0;
}

.footer__column a {
    color: var(--color-neutral-white);
}

.footer-left {
    flex: 1 1 50%;
    font-family: var(--font-family);
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--color-neutral-gray-50);
}

.footer-right {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-neutral-white);
    transition: color 0.3s ease;
}

.footer__icon:hover {
    color: var(--color-primary-amethyst-400);
}

.footer__icon svg {
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
    fill: var(--color-neutral-white);
}

.footer__icon span {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);
    margin: 0;
}

/* Estilos para el contenedor del separador e iconos */
.footer__hr-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Estilo para las líneas de separación */
.footer__hr-style {
    flex-grow: 1; /* Permite que las líneas crezcan para llenar el contenedor */
    height: 0.0625rem; /* 1px */
    background-color: var(--color-neutral-gray-50);
    border: none; /* Evita bordes adicionales */
}

/* Estilo para el icono centrado y no afectado por el crecimiento de las líneas */
.footer__centered-svg {
    width: 2.5rem; /* 40px */
    height: 1.5rem; /* 24px */
    margin: 0 0.5rem; /* 8px */
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__bottom-left p {
    margin: 0;
}

.footer__bottom-right {
    display: flex;
    gap: 1rem; /* 16px */
}

/* Responsive Styles */
@media (max-width: 360px) {
    /* Para pantallas extra pequeñas */
    .footer__content {
        gap: 1.125rem; /* 18px */
    }
    .footer__top {
        gap: 1.5rem; /* 24px */
        display: flex;
        flex-direction: column; /* Ajusta el contenido a una sola columna */ 
    }
    .footer__text {
        font-size: var(--font-size-xs); /* Reduce el tamaño de fuente */
    }
    .footer__links {
        display: flex;
        flex-direction: column; /* Ajusta el contenido a una sola columna */
        gap: 1.5rem; /* 24px */
    }
    .footer__logo {
        display: flex; /* Ajusta el contenido a una sola columna */
        justify-content: center; /* Centra el contenido */
    }
    .footer__bottom {
        display: flex;
        flex-direction: column;
        gap: 1rem; /* 16px */
    }
    .footer__bottom-left p {
        text-align: left; /* Ajusta el texto a la izquierda */
    }
    .footer__bottom-left p, .footer__bottom-right {
        font-size: var(--font-size-xs); /* Reduce tamaño de texto */
    }
}