/* Definition of CSS Variables */
:root {
    /* Colors */
    /* Primary Colors */
    --color-primary-amethyst-400: #8A42FB;

    /* Neutral Colors */
    --color-neutral-gray-50: #F3F3F3;
    --color-neutral-white: #FFFFFF;
    --color-neutral-black: #000000;
    --color-neutral-gray-800: #343434;

    /* Shadow */
    --card-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);

    /* Buttons */
    --button-border-radius: 0.3125rem; /* 5px */
    --button-font-family: 'Open Sans', sans-serif;
    --button-font-size: 1rem; /* 16px */
    --button-line-height: 1.5rem; /* 24px */
    --button-padding: 1rem; /* 16px */
    --button-gap: 0.5rem; /* 8px */

    /* Containers */
    --container-inner-width: 84rem; /* 1344px */

    /* Typography */
    --font-family: 'Open Sans', sans-serif;

    /* Font Sizes */
    --font-size-xs: 0.875rem; /* 14px */
    --font-size-s: 1rem; /* 16px */
    --font-size-m: 1.9375rem; /* 31px */
    --font-size-l: 2.8125rem; /* 45px */
    --font-size-xl: 3.8125rem; /* 61px */

    /* Line Heights */
    --line-height-s: 1.4rem; /* 22.4px */
    --line-height-m: 1.5rem; /* 24px */
    --line-height-l: 2.7rem; /* 43.2px */
    --line-height-xl: 4.575rem; /* 73.2px */

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}
